{% extends 'main.html' %}
{% load static %}
{% block content %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <h4>Sujet PFE proposé par {{ entreprise.NomEnt }}</h4>

    {% for field in form %}
    <div class="fieldWrapper">
    {% if field.name != "NumEnt" %}
    {{ field.label_tag }} {{ field }}
    {% endif %}
</div>
    {% endfor %}
    
    
    
    <a href="{% url 'listePromoteurs' entreprise.pk %}">Annuler</a>
    <input type="submit" name="Ajout">
</form>

{% endblock %}